name: CI

on:
  push:

permissions: {}

jobs:
  build:
    uses: thepwagner-org/actions/.github/workflows/golang-test.yaml@d65b8c3d69c9776d090e8fcdeb2e6dc4633681d7 # v3.2.1
    permissions:
      contents: read
